* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width:100%;
    height:auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #0f0f0f;
    color: white;
    overflow-x: hidden;
}

/* NAVBAR */
/* ================= NAVBAR ================= */

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.4);
    z-index: 1000;
    height: 100px;
    
}

/* Logo */
.foldal-img {
    width: 150px;
}

/* ================= MENU ================= */

.nav-links {
    list-style: none;
    display: flex;
    gap: 100px;
    margin: auto;
    
    
}

.nav-links li {
    text-align: center;
}

.nav-links a {
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 20px;
    
}

.nav-links a::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background: #f39c12;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* ================= HAMBURGER ================= */

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background: white;
}
